<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobileproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProject"
        tools:targetApi="31">

        <!-- 로그인 -->
        <activity
            android:name=".Login.activity.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.activity.ResetPasswordActivity"/>
        <activity android:name=".Login.activity.HintAnswerActivity"/>
        <activity android:name=".Login.activity.InputIdActivity" />
        <activity android:name=".Login.activity.FindIdResultActivity"/>
        <activity android:name=".Login.activity.FindIdActivity" />
        <activity android:name=".Login.activity.RegisterActivity"/>
        <activity android:name=".Login.activity.LoginActivity"/>

        <!-- 홈 -->
        <activity android:name=".Home.activity.AlarmActivity"/>
        <activity android:name=".Home.activity.BestActivity"/>
        <activity android:name=".Home.activity.HomeSearchActivity" />
        <activity android:name=".Home.activity.MainActivity"/>
        <activity android:name=".Home.activity.MapActivity"/>
        <activity android:name=".Home.activity.MyPageActivity" />
        <activity android:name=".Home.activity.ShareSearchActivity" />

        <!-- 추천 -->
        <activity android:name=".Recommend.activitiy.RecommendActivity1" />
        <activity android:name=".Recommend.activitiy.RecommendActivity2" />
        <activity android:name=".Recommend.activitiy.RecommendActivity3" />

        <!-- 카카오맵 네이티브 앱 키 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7444deacb77e90c88a2e57a7e7f55b09" />

    </application>

</manifest>